$maincolorsoft: grey;
$maincolorhard: #353535;




body {
    font-family: 'Rajdhani', sans-serif;
}

.m_text {
    color:grey !important;
    font-size: x-large;
}

.btn-grey {
    border:1px solid $maincolorhard;
}


#iconbar {
    padding-top:16px;
}

#iconbar a {
    color : grey !important;
    &:hover {
        color: #000 !important;
    }
}

#topheader {
    height: 200px;
   
    display: flex;
    justify-content: center;
    
}



/* Nav */
#topnav {
    
    background-color:white;
    // height: 50px;
    // position: fixed;
    // top: 0px;
    width: 100%;
    z-index: 1;

    // .badge {
    //     font-size: 4px;
    // }
    // .btn-bag {
        
    // }
    
}




// slider starts
.aws-btn {

    --slider-height-percentage: 34%;
    --slider-transition-duration: 4ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 30px;
    --organic-arrow-height: 0px;
    --organic-arrow-color: #f3f3f3;
    --control-button-width: 8%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #fad0ce;
    --control-bullet-active-color: #d5b1af;
    --loader-bar-color: #080808;
    --loader-bar-height: 6px;
    }
// slider ends


.active{
    color: grey!important;
}

/* hero starts */

 .hero {
     height: 600px;
     h3 {
        color:wheat;
    }
    h5 {
        color: whitesmoke;
    }
    a {
        background-color: wheat;
        &:hover {
            background-color: $maincolorhard;
        }
        &:active {
            border: 2px inset $maincolorsoft ;
        }
    }
   
 }

 
/* hero ends */


/* category starts */


.longcategory {
    background-color: #f3f3f3 !important;
    height: 100vh;
    width:200px;
    position: sticky !important;
    top: 0 !important;
    padding: 10px;
    overflow: auto;
    border-right:1px solid $maincolorhard;
    h6  {
        color: $maincolorhard;
        text-align: center;
        font-size: 15px;
    }
    h5  {
        color: $maincolorhard;
        text-align: center;
        font-size: 16px;
    }
    
    
}


// sidebar starts

#sidebar {
    background-color: $maincolorsoft;
    padding: 30px;
   
    z-index: 99;
    
}



// sidebar ends





.dropDiv {
    height: 200px;
    background-color: #9c0c5c;
    position: aboslute;
}


/* home starts */


.maintitle {
    padding-top:40px;
    text-align: center;
    color: red;
}

.subtitle {
    text-align: center;
    
    
}


#recent {
    height: 400px;
    background-color: rgb(146, 146, 146);
}



#news {
    height: 400px;
    background-color: rgb(128, 128, 128);

}


#events {
    height: 400px;
    background-color: rgb(100, 100, 100);

}

.fa-female {
    color:#ff4e6d;
    &:hover {
        color : rgb(255, 43, 78);
    }
}


// card styling starts


.priders {
  background-color: rgb(155, 160, 155);
 height: 550px;
width:100%;

 position: relative;

 margin-top: 20px;
 box-shadow: 2px 2px 20px rgb(68, 68, 68);

}


.priders img {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
   

}

.priders .pop {
    background: #cdd4d141;
     position: absolute;
     top: 0px;
     right: -25px;
     left: -25px;
     height: 0%;
     box-shadow: 0px 1px 10px;
     transition: height 0.5s;
     font-family: 'Rajdhani', sans-serif;
 
 
 
 }

 .priders:hover .pop {
    height: 103%;
}

.priders .pop i {
    // background: #513c729c;
    color: rgba(0, 0, 0, 0.849);
    padding: 2px;
    font-size: 20px;
   /* position: relative;*/
    display: block;
    width: 78%;
    margin-top: 30px;
    text-shadow: 0px 0px 1px white;
    opacity: 0;
    transition: transform 2s , opacity 2s;
    font-family: 'Rajdhani', sans-serif;
  
    font-style: normal !important;   


}


.priders:hover i {
    transform: translateX(40px);
    opacity: 1;
}


.priders .text {
    
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    height: 10%;
    background-color: #818181b2;
    color:white;
    padding: 10px;
   
  
    h5{
        text-align: center;
        font-size: 30px;
        font-family: 'Rajdhani', sans-serif;
    } 
    
}





// card styling ends

/* home ends */








/* Footer starts */
#mainfooter {
    background-color: #d8d8d8c7;
    color:wheat;
}


// women section 
.titleContainer {
    border:1px solid grey;
    // background-color:rgb(94, 94, 94);
    padding: 30px 0px;
    &:hover {
        background-color: rgb(155, 155, 155);
    }
    h1 {
        text-shadow:0px 0px 5px white;
    }
    h4 {
        text-shadow:0px 0px 5px white;
        text-align: center;
       
        background-color: rgb(148, 148, 156);
    }
}

.titleContainermini {

    background-color: rgb(94, 94, 94);
    padding: 15px 0px;
    &:hover {
        background-color: rgb(44, 44, 44);
    }
    h1 {
        text-shadow:0px 0px 5px white;
    }
    h4 {
        text-shadow:0px 0px 5px white;
        text-align: center;
     
        background-color: rgb(148, 148, 156);
       
    }
}

// women ends


// detailbar starts


      .gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-width: 33%;
        -moz-column-width: 33%;
        column-width: 33%; 
      }
        .gallery .pics {
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease; 
      }
        .gallery .animation {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); 
      }

      @media (max-width: 450px) {
        .gallery {
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;
          -webkit-column-width: 100%;
          -moz-column-width: 100%;
          column-width: 100%;
        }
      }

      @media (max-width: 400px) {
        .btn.filter {
          padding-left: 1.1rem;
          padding-right: 1.1rem;
        }
      }
      button.close {
        position: absolute;
        right: 0;
        z-index: 2;
        padding-right: 1rem;
        padding-top: .6rem;
      }
   


// detailbarends